<h3 class="titulo">Pantalla principal</h3>

<div class="segmento-proyecto">
    <h4 class="segmento-proyecto-titulo">Panel Para Pintar</h4>
    <p class="segmento-proyecto-descripcion">
        Se trata de un proyecto para pintar bastante basico
    </p>
    <img src="PanelPintar.png" alt="Imagen del proyecto" class="imagen">

    <a routerLink="../panel-pintar" class="link-ir">Ir al proyecto</a>
    <a href="about/#des-panelPintar">ir a explicaion</a>
</div>

<div class="segmento-proyecto">
    <h4 class="segmento-proyecto-titulo">Identificador</h4>
    <p class="segmento-proyecto-descripcion">
        Se trata de un proyecto para identificar y dar un mensaje segun nombre sea ingresado, tabien se cuenta el numero de caracteres de dicho nombre.
    </p>
    <img src="Identificador.png" alt="Imagen del proyecto" class="imagen">

    <a routerLink="../identificador" class="link-ir">Ir al proyecto</a>
</div>